# Игнорировать виртуальное окружение
env/
.env/

# Игнорировать кэш компиляции Python
__pycache__/
*.py[cod]
*.pyo

# Игнорировать папку сборки
build/
dist/
*.egg-info/

# Игнорировать настройки IDE (если вдруг пригодится)
.vscode/
.idea/