<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Обновить задачу</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Обновить задачу</h1>

        <!-- Форма обновления задачи -->
        <form action="{{ url_for('tasks.update_task', id=task.id) }}" method="POST" class="task-form">
            <input type="text" name="title" value="{{ task.title }}" required>
            <input type="text" name="description" value="{{ task.description }}" required>
            <input type="text" name="date" value="{{ task.deadline.strftime('%d.%m.%Y') if task.deadline else '' }}" placeholder="Дата дедлайна (дд.мм.гггг)">
            <input type="text" name="time" value="{{ task.deadline.strftime('%H:%M') if task.deadline else '' }}" placeholder="Время дедлайна (чч:мм)">
            <button type="submit" class="add-btn">Обновить задачу</button>
        </form>

        <a href="{{ url_for('index') }}" class="back-link">Вернуться к списку задач</a>
    </div>
</body>
</html>